.warpper {
    margin: 0 auto;
    width: 1200px;
}

.header {
    height: 100px;
    background-color: #ffffff;
}

.header .warpper {
    padding-top: 29px;
    display: flex;
}

/*logo */
.logo a {
    width: 195px;
    height: 41px;
    background-image: url("../images/logo.jpg");
    display: block;
    /*隐藏文字*/
    font-size: 0;
}

.header .nav {
    margin-left: 102px;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav li {
    margin-right: 24px;
}

.nav li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/*搜索区域*/
.search {
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    display: flex;
}

.search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    /*去掉表单控件的input框*/
    outline: none;
}

/*::对属性样式调整*/
.search input::placeholder {
    color: #999;
    font-size: 14px;
}

/*父级是flex格式，子集变弹性盒子，加宽高是生效的*/
.search a {
    width: 16px;
    height: 16px;
    background-image: url("../images/search.png");
    /*侧轴居中*/
    align-self: center;
}

/*用户区*/
.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user img {
    /*专门用户处理行内块行内元素垂直方向对齐*/
    vertical-align: middle;
    height: 30px;
    margin-right: 7px;
}

.user span {
    font-size: 16px;
    color: #666666;
}

/*banner区域*/
.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .warpper {
    height: 420px;
    background-image: url("../images/banner.jpg");
    display: flex;
    justify-content: space-between;
}

/*侧导航样式*/
.banner .left {
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
    padding: 3px 20px;
}

.banner .left a {
    /*块级好处，父级的100%*/
    display: block;
    color: white;
    height: 46px;
    background: url("../images/right.png") no-repeat right center;
    line-height: 46px;
    font-size: 16px;
}

.banner .left a:hover {
    color: #00a4ff;
}

/*课程表*/
.banner .right {
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
    margin-top: 60px;
}

.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: white;
    font-weight: 400;
}

.banner .right .content {
    height: 257px;
    background-color: white;
    border-radius: 10px;
    padding: 14px;
}

.banner .right dl {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 12px;
}

.banner .right dt {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.banner .right dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.banner .right dd span {
    color: #00a4ff;
}

.banner .right dd strong {
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right a {
    display: block;
    height: 32px;
    background-color: #00a4ff;
    border-radius: 15px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: white;
}

/*推荐区域*/
.recommend {
    margin-top: 11px;
    padding: 0 20px;
    line-height: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(211, 211, 211, 0.5);
    display: flex;
}

.recommend h3 {
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}

.recommend ul {
    /*除去标题和修改兴趣的尺寸外，父级剩余尺寸都给了ul*/
    flex: 1;
    display: flex;
}

.recommend ul li a {
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
}

.recommend ul li:last-child a {
    border-right: none;
}

.recommend .modify {
    font-size: 16px;
    color: #00a4ff;
}

/*课程*/
.course {
    margin-top: 15px;
}

/*公共类*/
.hd {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.hd ul {
    display: flex;
}

.hd h3 {
    font-size: 21px;
    font-weight: 400;
}

.hd ul li {
    margin-right: 60px;
    font-size: 16px;
}

.hd ul li .active {
    color: #00a4ff;
}

.hd .more {
    font-size: 14px;
    color: #999999;
    background: url("../images/right.png") no-repeat right center;
    padding-right: 20px;
}

.bd {
    color: white;
    display: flex;
    justify-content: space-between;
}

.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li {
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    background-color: pink;
    box-shadow: 0 1px 2px 0 rgba(211, 211, 211, 0.5);
}

.bd li .pic {
    height: 156px;
}

.bd li .text {
    height: 115px;
    padding: 20px;
    background-color: white;
}

.bd li .text h4 {
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}

.bd li .text p {
    font-size: 14px;
    line-height: 20px;
    color: #999999;
}

.bd li .text span {
    color: orange;
}

.bd li .text p i {
    font-style: normal;
}

.bd .left {
    width: 228px;
}

.bd .right {
    width: 957px;
}

.bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

/*底部*/
.footer {
    margin-top: 60px;
    height: 273px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.footer .left {
    width: 440px;
}

.footer .left p {
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
}

.footer .right {
    display: flex;
}

.footer .right dl {
    margin-left: 130px;
}

.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}
.footer .right a {
    font-size: 14px;
    color: #666666;
    line-height: 24px;
}